name: Container Tests

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read

jobs:
  container-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@c47758b77c9736f4b2ef4073d4d51994fabfe349 # v3.7.1

      - name: Run containerised test suite
        run: make container-test
